/*!
 * Start Bootstrap - Stylish Portfolio Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
	font-size: 1em;
	line-height: 1.5;
	font-family: "Microsoft YaHei",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
	color: #000;
	background: #FFF none repeat scroll 0% 0%;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Header */

.header {
	background: transparent url("../img/header.jpg") no-repeat scroll 0% 0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	width: 100%;
	height: 58rem;
	padding: 9rem 0px 11rem;
}

.logo-frame{
	width: 20rem;
	height: 20rem;
	margin: 0px auto;
}

.logo-svg{
	width: 100%;
	height: 100%;
	position:relative;
	top: -20rem;
}

.img-center{
	margin: 0 auto;
}

/* Location */

.location {
    padding-bottom: 10px;
}

.location h2 {
    text-align: center;
    color: #666;
    font-size: 2rem;
    font-weight: bold;
}

.city-name{
	color: #009fe9;
	padding-right: 10px;
}

.dash{
	color: #b3b3b3;
	padding-right: 10px;
}

.lang {
    text-align: right;
}

.lang-select a {
    float: right;
    width: 5rem;
    height: 5rem;
    display: block;
    background: #F2F2F2 none repeat scroll 0% 0%;
    color: #999;
    border-radius: 50%;
    text-align: center;
    line-height: 5rem;
    margin-right: 1rem;
    font-size: 1.2rem;
	text-decoration: none;
	cursor: pointer;
}

.lang-select a.selected {
    background: #00ADEF none repeat scroll 0% 0%;
    color: #FFF;
}

/* Navigator Bar */

.menu_block {
	position:relative;
	z-index:9400;
	width:100%;
	background-color:#e9e9eb;
}

#main_menu {
	display: block;
	text-align: center;
	margin: 0px;
	font-size: 2rem;
	font-weight: 400;
}

#main_menu ul{
	margin: 0px;
}

#main_menu li {
	position:relative;
	float:none;
	display:inline-block;
	vertical-align:top;
	padding: 0px 40px 0px 40px;
	text-align:center;
	cursor: pointer;
}
#main_menu li a {
	position:relative;
	display:block;
	margin: 0;
	padding:23px 0 27px;
	text-transform:uppercase;
	font-weight: 400;
	line-height:20px;
	color:#101012;
	text-decoration:none;
}
#main_menu li:hover,
#main_menu li.current-menu-item {
	color:#101012;
	border-bottom: 10px solid #ef8a1e;
}

/* Event Title */
.event-title{
	background-color: #28a2d9;
	color: #fff;
	margin-top: 5px;
}

.event-title h1{
	margin-left: 50px;
}

/* Events */

 .event-item{
	padding: 0px;
}

.event-item .event-content{
	opacity: 0;
	position: absolute;
	transition: all 450ms ease 0s;
	top: 0%;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 99;
	text-align: center;
	background: #fff;
	padding: 30px;
	cursor: pointer;
}

.event-item .event-content .content-item {
  display: block;
  font-size: 1.5em;
  font-weight: normal;
  color: #666666;
}
@media screen and (min-width: 768px) {
  .event-item .event-content .content-item {
    font-size: 2em;
  }
}
.event-item::after {
  position: absolute;
  content: "";
  background: url("../images/x10_icono_placeholder.svg");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}
.event-item:hover .event-content {
  opacity: 0.8;
}
.event-item:hover::after {
  opacity: 0.8;
}

/* Party Title */
.party-title{
	background-color: #28a2d9;
	color: #fff;
}

.party-title h1{
	margin-left: 50px;
}

.party-title h1 strong{
	float:right;
	font-size: 2rem;
	margin-top: 1rem;
}

/* Member List */
.member-list .container{
	padding: 50px;
}

.member-list .col-sm-6{
	padding-left: 60px;
}

.member-list .col-sm-6.member-add{
	padding: 10px 50px 0px;
}

.party-desc{
	padding-top: 0px;
	padding-bottom: 10px;
	text-align: center;
}

.party-desc h2{
	margin: 0px;
}

.party-desc span{
	font-size: 2em;
	color: #aaa;
}

.party-panel{
	clear: both;
}
.party-search{
	clear: both;
	position: absolute;
	margin: 0px;
	cursor: pointer;
}

.party-search span{
	width: 12rem;
	height: 12rem;
	display: block;
	background: #00ADEF none repeat scroll 0% 0%;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 12rem;
	font-size: 3rem;
	text-decoration: none;
}

.party-panel .first,
.party-panel .third,
.party-panel .second,
.party-panel .fourth{
	width: 50%;
	float: left;
	padding: 2.5%;
}

.party-caption{
	padding: 10px;
	font-weight: 400px;
	font-size: 2.0em;
	line-height: 1em;
	color: #404041;
}

.party-caption p{
	margin: 0px;
}

.party-caption .description{
	color: #919191;
}

.member-list .party-caption{
	padding-top: 0px;
}

.member-add .party-caption{
	padding-top: 10px;
}

.preview-btn{
	position: absolute;
	border-radius: 50%;
	left: 35%;
	top: 30%;
	width: 100%;
}

.preview-btn img{
	min-width: 30%;
	min-height: auto;
	border-radius: 50%;
}
	
.first span{
	position: absolute;
	left: 20px;
	bottom: 25px;
	width: 20%;
}

/* Calendar */
#calendar {
	color: white;
	padding: 0px !important;
}

/*White Panel */
.white-panel {
	text-align: center;
	color: #333333;
}
.white-panel p {
	margin-top: 5px;
	font-weight: 700;
	margin-left: 15px;
}
.white-panel .white-header {
	background: #f4f4f4;
	padding: 3px;
	margin-bottom: 15px;
	color: #333333;
}
.white-panel .small {
	font-size: 10px;
	color: #333333;
}

.white-panel .table > tbody > tr > th,
.white-panel .table > tbody > tr > td {
	border: 0px;
}

.calendar-month-header h1{
	font-size: 5em;
	text-align: left;
	text-transform:uppercase;
	margin-bottom: 0px;
}

.calendar-month-header h2{
	font-size: 2em;
	text-align: left;
	margin-top: 0px;
}

div.zabuto_calendar .table tr.calendar-month-header th.month{
	vertical-align: middle;
}

div.zabuto_calendar .table tr.calendar-month-header th span {
	width: 3em;
	height: 3em; 
	margin: auto 0;
}
div.zabuto_calendar .table tr.calendar-month-header th span.fa-chevron-left{
	background:url(../img/prev-month.png) no-repeat scroll center center;
}

div.zabuto_calendar .table tr.calendar-month-header th span.fa-chevron-right{
	background:url(../img/next-month.png) no-repeat scroll center center;
}

.day span:hover{
	width: 5rem;
	height: 5rem;
	display: block;
	background: #00ADEF none repeat scroll 0% 0%;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 5rem;
	margin-right: 1rem;
	font-size: 3rem;
	font-weight:400;
	margin:0 auto;
}

.day span{
	width: 5rem;
	height: 5rem;
	display: block;
	background: #fbfbfb none repeat scroll 0% 0%;
	color: #333;
	text-align: center;
	line-height: 5rem;
	margin-right: 1rem;
	font-size: 3rem;
	font-weight:400;
	margin:0 auto;
}

.day span.different-month {
  color: #C0C0C0;
}

.day span:hover.different-month {
  color: #fff;
}

.calendar-section{
	background: #fbfbfb;
	width: 100%;
}

.calendar-section .panel-body{
	background: #fbfbfb;
}


/* Contact Us */
.contact-us {
    display: table;
    position: relative;
    width: 100%;
    background: url(../img/contact-us.jpg) no-repeat scroll center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
	padding: 50px 0px;
}

.contact-us div{
	padding-left: 50%;
}

.contact-us h1{
	color: #28a3da;
	font-size: 3em;
	font-weight: 400;
}

.contact-us .btn-default{
	width: 200px;
	height: 80px;
	background-color: #EF8B1E;
	border-color: #EF8B1E;
	text-align: center;
	padding: 10px;
	font-size: 3em;
	font-weight: 400;
}

.contact-us  a span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
	color: #fff;
}

/* Footer */

footer {
    padding-bottom: 30px;
}

footer .list-inline > li{
    padding-left: 30px;
}

footer .list-inline > li .btn{
    color: #404041;
}