<div class="calendar-section">
	<div id="calendar" class="container">
		<div class="white-panel no-margin">
			<div class="zabuto_calendar">
				<table class="table">
					<tbody>
						<tr class="calendar-month-header">
							<th rowspan="8" class="month">
								<div id="zabuto_calendar_mb1_nav-prev" class="calendar-month-navigation">
									<span><span class="fa fa-chevron-left text-transparent" ng-click="previous()"></span></span>
								</div>
							</th>
							<th colspan="7">
								<h1>{{month.format("MMMM")}}</h1>
								<h2> {{month.format("YYYY ")}}</h2>
							</th>
							<th rowspan="8" class="month">
								<div id="zabuto_calendar_mb1_nav-next" class="calendar-month-navigation">
									<span><span class="fa fa-chevron-right text-transparent" ng-click="next()"></span></span>
								</div>
							</th>
						</tr>
						<tr class="calendar-dow-header"><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th></tr>
						<tr class="calendar-dow" ng-repeat="week in weeks">
							<td class="dow-clickable" ng-repeat="day in week.days">
								<div class="day">
									<span ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" ng-click="select(day)">{{day.number}}</span>
								</span>
							</td>							
						</tr>
					</tbody>
				</table>				
			</div>
			<div class="legend"></div>
		</div>
	</div><!-- / calendar -->	
</div>